/* Alterado para permitir que o texto fique no centro */
.content-wrapper {
    max-width: 850px; 
    text-align: center; /* Mudou de left para center */
}

/* Ajuste na lista para as bolinhas não se perderem ao centralizar */
.custom-list {
    list-style-type: disc;
    list-style-position: inside; /* Faz as bolinhas (bullets) acompanharem o texto centralizado */
    padding-left: 0; /* Remove o recuo antigo da esquerda */
    line-height: 1.6;
}

.custom-list ul {
    list-style-type: disc; 
    margin-top: 5px;
    padding-left: 0;
}